@model finlab.Dominio.Despesas

<div class="form-horizontal">
    <form action="Create" method="Post">

        <div class="form-group">
            <label>Id</label>
            <input  class="form-control"
                    type="text" name="id"/>
        </div>

        <div class="form-group">
            <label>Data</label>
            <input  class="form-control"
                    type="text" name="data"/>
        </div>

        <div class="form-group">
            <label>Numero do Documento</label>
            <input  class="form-control"
                    type="text" name="numDoc"/>
        </div>

        <div class="form-group">
            <label>Grupo</label>
            <input  class="form-control"
                    type="text" name="grupo"/>
        </div>
         <div class="form-group">
            <label>local</label>
            <input  class="form-control"
                    type="text" name="local"/>
        </div>
         <div class="form-group">
            <label>Valor</label>
            <input  class="form-control"
                    type="text" name="valor"/>
        </div>

        <input  class="btn btn-primary" 
                type="submit" value="Salvar"/>

    </form>
</div>